In [151]:
import pandas as pd
import numpy

rateList = pd.read_csv(r"C:\Users\aradk\Desktop\RateList.csv")
rateList["Codes"] = rateList["Codes"].astype("int")
rateList = rateList.rename(columns={'Biilling Cycle': 'Billing Cycle'})

mc,ci = str(extract_MC_CI(1684)[0]).split('/')
print(mc,ci)

def extract_MC_CI(code):
    Result = rateList[rateList["Codes"] == code]
    MC_CI = Result["Billing Cycle"]
    return MC_CI.values

rateList.head(10)

60 60

   Codes                      Area Name  Rate (USD) Billing Cycle
0     93              AFGHANISTAN FIXED     0.16500           1/1
1   9376  AFGHANISTAN MOBILE AREEBA MTN     0.11454           1/1
2   9377  AFGHANISTAN MOBILE AREEBA MTN     0.11477           1/1
3   9375          AFGHANISTAN MOBILE AT     0.16500           1/1
4   9370        AFGHANISTAN MOBILE AWCC     0.11520           1/1
5   9371        AFGHANISTAN MOBILE AWCC     0.10800           1/1
6   9373    AFGHANISTAN MOBILE ETISALAT     0.10878           1/1
7   9378    AFGHANISTAN MOBILE ETISALAT     0.10823           1/1
8   9372      AFGHANISTAN MOBILE ROSHAN     0.12387           1/1
9   9379      AFGHANISTAN MOBILE ROSHAN     0.12475           1/1

In [12]:
bc="1/10"
ls = bc.split('/')[1]
print(ls)

10